/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: "Track";
  font-style: normal;
  font-weight: normal;
  src: local("?"), url("../fonts/Track.woff") format("woff"), url("../fonts/Track/Track.ttf") format("truetype");
}

$primary-color:#F7F7F7;
$alternative-color:#EFEFEF;
$primary-backgroundcolor:#222;
$alternative-backgroundcolor:#454545;

$primary-anchorcolor:#E55A54;

$primary-highlight:#F7F7F7;

$primary-hover:#E55A54;



@mixin user-select($foxylady){
    
    	-webkit-user-select: $foxylady;
	-khtml-user-select: $foxylady;
	-moz-user-select: $foxylady;
	-ms-user-select: $foxylady;
	user-select: $foxylady;
    }





html{
position: absolute;/*This is to clear white space*/
top: -16px;/*This is to clear white space*/

width:100%;/*For Parallax*/
height:100%;/*For Parallax*/
}

h1,h2,h3,h4{

color:#FFF;

}

h4 em.tagline{
color:#222;  
  
}


header{
position:relative;
top:2%;
margin-bottom:5%;
height:60px;
background-color:$primary-backgroundcolor;

}





body{
width:100%;/*For Parallax*/
height:100%;/*For Parallax*/
font-family: Track, sans-serif;
margin: 0 0 100px; /* bottom = footer height For Sticky Footer */
color:#222;
}


section{
height:50%;
}

p,section{

color:#FFF;

}

section a, div .content-container a, div.content a{
color:$primary-anchorcolor;
padding:3px;
}

section#content{
background-color:#333;
z-index:1000;
width:85%;
margin-top:3%;
padding:4px;
opacity:0.8;
-moz-opacity:0.8;
-khtml-opacity:0.8;
filter: Alpha(opacity=80);
}

.simpleCart_items, article.simpleCart_shelfItem{
  position:relative;
  width:90%;
  background-color:#333;
 opacity:0.8;
-moz-opacity:0.8;
-khtml-opacity:0.8;
filter: Alpha(opacity=80); 
    
    
    } 


a.simpleCart_checkout{
position:relative;
z-index:200;
float:right;  
  
}

table tbody{
  line-height: 1.2;
}

nav{
/*background-color: #232323;*/
position:relative;
z-index:1000;

left:10%;
height:100%;
width:60%;
}


nav ul{
height:100%;
}

nav ul li {
cursor:pointer;
display:inline-block;

height:100%;
margin-right: -5px;/*This is to get rid of gaps*/

/*This is to take out the grey highlighting border*/
  outline: none; 
-webkit-touch-callout: none;
@include user-select(none); 

}




nav.navmain ul a{
position:relative;
display:inline-block;
text-decoration:none;
color:ghostwhite;
padding:20px;

/*This is to take out the grey highlighting border*/
  outline: none; 
-webkit-touch-callout: none;

@include user-select(none); 
}



nav.navmain ul a:hover{
height:33%;
transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
background-color:$primary-hover;



}

nav ul li ul{position:absolute;}

nav ul li ul a {
background-color:$primary-backgroundcolor;    
    }

nav ul li ul a:hover {
transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
}

nav ul li ul.fallback {display:none;}/*For Dropdown*/
nav ul li:hover ul.fallback {display:block;}/*For Dropdown*/




nav .logo { /*If a space means next element down the tree*/

position:relative;
visibility:visible;

}

#Form_Form{
position:relative;
width:40%;

}

#Form_Form input, #Form_Form textarea{
width:80%;
}

#Form_Form input#Form_Form_action_submit{
width:40%;
}

.simpleCart_items{
position:relative;

}

div.simpleCart_items div{
display:inline-block;
padding:5px;
}

div.simpleCart_items div.headerRow{
display:none;
}

.bg-holder {
position:relative;

width: 100%;
height: 100%;
}
 
.bg-holder#pic1 {
background-image: url('../img/red.jpg');
}

.bg-holder#picother{
  
background-image: url('../img/red.jpg');  
}

  
/* 
.bg-holder#pic2 {
background-image: url('../img/city.jpg');
} */

footer{
background-color: #232323;/*For Sticky Footer*/


    position: relative;/*For Sticky Footer*/
    left: 0;/*For Sticky Footer*/
    bottom: 0;/*For Sticky Footer*/
    height: 100px;/*For Sticky Footer*/
    width: 100%;/*For Sticky Footer*/
}







/*All for Dawnmenu Btmenu Mobile Menu*/





.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: $primary-backgroundcolor;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}


.bt-menu a{
text-decoration:none;
font-size:1em;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 0px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: $primary-highlight;
	font-size: 0px;
	-webkit-touch-callout: none;

    @include user-select(none); 
    
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: $primary-highlight;
	content: '';
    
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
        
        outline: none;
	 -webkit-touch-callout: none;

     @include user-select(none); 
     

text-decoration:none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}



.bt-menu ul li {
	display: block;
        outline: none;
	 -webkit-touch-callout: none;

     @include user-select(none); 
     
text-decoration:none;
	color:$primary-color;
	}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	/*This controls the scaling animations*/
 
}


.bt-menu ul li a {
	
    color:$primary-color;
    display: block;
	outline: none;
    -webkit-touch-callout: none;

        @include user-select(none); 
            
	text-decoration: none;
}

.bt-menu ul li a:hover {
	color: $primary-hover;
	font-size:1.2em;
}



.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
    /*
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
*/
}

/* First menu */

.bt-menu ul li:hover{
	transition:background-color 1s ease-out;
-moz-transition:background-color 1s ease-out;
-webkit-transition:background-color 1s ease-out;
-o-transition:background-color 1s ease-out;
background-color:$primary-backgroundcolor;



}


.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
    /*
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
*/
}



.bt-menu.bt-menu-open ul:first-of-type li {
  /*
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
*/
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
    /*
	-webkit-transform: scale(0);
	transform: scale(0);
*/
}
/*
.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
*/
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	/*
    -webkit-transform: scale(1);
	transform: scale(1);
*/

}

/*
.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
*/
.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}



/*
.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #1abc9c;
	

}
*/








/*Fix this later to display none*/
@media (min-width: 1200px) {

 section#content{
position:relative;
left:10%;
}


nav.bt-menu, nav.bt-menu li.link{
display:none;

}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
nav.bt-menu, nav.bt-menu li.link{
visibility:visibile;
}

section#content{
position:relative;
z-index:400;/*So its clickable*/
left:17%;
}


nav.navmain{

visibility:hidden;

}

}

@media (max-width: 992px) {
nav.bt-menu, nav.bt-menu li.link{
visibility:visible; 
}

section#content{
position:relative;

left:15%;
}



nav.navmain{

visibility:hidden;

}

nav.logo a{
visibility:visible;  
}

}

@media (max-width:500px){
nav.bt-menu, nav.bt-menu li.link{
visibility:visible; 
  }
  
  section#content{

left:5%;
width:85%;
}


  nav.navmain{
left:30%;
visibility:hidden;

}


nav.logo a{
visibility:visible;  
}
  
  
  #Form_Form{
position:relative;
width:100%;

}


.bg-holder#pic1 {
background-image: url('../img/redmobile.jpg');
}

.bg-holder#picother{
  
background-image: url('../img/redmobile.jpg');  
}

  
  
}




