
  <section class="pageStyle">
    <article id="pageContent">

<h2>Web Scripting</h2> 
<p>
I develop on a linux machine, but capable and comfortable on windows machines also..
</p>
<h3>Code:</h3>
<p>
Hyper Text Markup Language, Cascading Style Sheets, Hypertext Preprocessor, Extensible Markup Language,<br>
Pure Javascript and Javascript libraries and frameworks like Backbone and Angular JS. 
</p>

<h3>If you Like Acronyms: HTML 5, CSS 3, PHP, JS, Jquery, AJAX, JSON. </h3>
<hr>
<h3>Frameworks and Languages:  Python, SQL, Linux/Unix, SilverStripe and WordPress </h3>


    </article>


</section>
