
  <section class="pageStyle">

<h2>Developed and Designed Websites</h2>
    <article id="pageContent" ng-repeat="sites in portfolioList">



<h3> Project:<a id="droplinks" href="{{sites.link}}"><br>{{sites.title}}</h3></a>
               <a href="{{sites.link}}"><img class="headerpic" src="{{sites.imagesrc}}" class="siteicons" alt="{{sites.altimage}}" /></a>

<br>
	<p><em>Site Description: </em>{{sites.description}}</p>
	<p><em>Scripting Involved: </em>{{sites.scripting}}	</p>

<hr>






 </article>




</section>


